# Allow init to "wait" for partitions
allow qti_init_shell block_device:dir search;

# Allow init to detect fstype of /userdata
allow qti_init_shell init:fifo_file { getattr write };
allow qti_init_shell blkid_exec:file { getattr execute read open execute_no_trans };
allow qti_init_shell userdata_block_device:blk_file { getattr read open ioctl };

# Required for FM
allow qti_init_shell apk_data_file:dir rw_dir_perms;
allow qti_init_shell apk_data_file:file create_file_perms;

# Needed by init.mmi.boot.sh
allow qti_init_shell utags_block_device:blk_file r_file_perms;

# Needed by init.mmi.touch.sh
allow qti_init_shell blkid_exec:lnk_file r_file_perms;

# Needed by init.qcom.bt.sh
allow qti_init_shell bluetooth_data_file:file r_file_perms;
allow qti_init_shell bluetooth_loader_exec:file r_file_perms;
allow qti_init_shell hci_attach_dev:chr_file rw_file_perms;

#allow qti_init_shell default_prop:property_service set;

# for init_falcon to read filesystem type
allow qti_init_shell userdata_block_device:blk_file r_file_perms;
allow qti_init_shell utags_block_device:blk_file r_file_perms;

allow qti_init_shell btnvtool_exec:file { execute execute_no_trans getattr open read };
allow qti_init_shell btnvtool_exec:file { execute execute_no_trans getattr open read };
allow qti_init_shell kmsg_device:chr_file { open write };
allow qti_init_shell smem_log_device:chr_file { ioctl open read write };
