allow sysinit persist_file:dir search;
allow sysinit self:capability { dac_override dac_read_search };
allow sysinit storage_file:dir search;
allow sysinit media_rw_data_file:file getattr;
allow sysinit mnt_user_file:dir search;
allow sysinit persist_file:file { getattr open read };
allow sysinit storage_file:lnk_file read;
allow sysinit system_data_file:dir { remove_name write };
#allow sysinit system_data_file:file { getattr open read unlink write };
allow sysinit tmpfs:dir search;
allow sysinit toolbox_exec:file { execute execute_no_trans getattr open read };
allow sysinit wifi_data_file:file { getattr open read write };
